.recipe {
    border-radius: 10px;
    box-shadow: lightcoral;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: lightcyan;
    align-items: center;
    min-width: 40%;
}

.image {
    border-radius:50%;
    width: 100px;
    height: 100px;
} 

.calories {
    text-align: center;
  }